html, body {
    margin: 0;
    padding: 0;
}


body.fp-viewing-first #header {
    display: none;
} 
body.fp-viewing-second #header {
    display: block;
}
body.fp-viewing-gallery #header {
    display: block;
}
body.fp-viewing-fashion #header {
    display: block;
}
body.fp-viewing-angels #header {
    display: block;
}


header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    background-color: #000;
}
header .logo img {
    max-width: 150px;
}
header .menu {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
header .menu .item-sep {
    width: 1px;
    height: 25px; /* Safari 5.1-6.0 */ /* Opera 11.6-12.0 */ /* Firefox 3.6-15 */
    background: radial-gradient(white, grey); /* Стандартный синтаксис */
}
header .menu .item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}
header .menu .item a:hover {
    color: #b1b1b1;
    transition: 0.2s;
}
header .menu .item a:not(:hover) {
    transition: 0.3s;
}


section {
    max-width: 100%;
    margin: 0 auto;
}

#section0 {
    background: url(../img/bgFullPage-1.jpg) no-repeat no-repeat;
    background-size: cover;
}
#section0 .fp-tableCell {
    display: table-cell;
    vertical-align: bottom;
}
#section0 .btn-audio {
    display: block;
    padding: 0 0 50px;
    text-align: center;
}
#section0 .btn-audio img {
    max-width: 50px;
    cursor: pointer;
}

#header {
    position: fixed;
    height: 89px;
    width: 100%;
    display: none;
    z-index: 9;
    top: 0px;
}
#section1>div {
    vertical-align: top;
}

#section1 h2 {
    text-align: center;
    font-size: 2em;
}

.main {
    display: flex;
    max-width: 900px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.main .imgBlock .logoText {
    max-width: 80px;
}
.main .imgBlock .logoText {
    padding: 0 25px;
}
.main .imgBlock .imgBig {
    max-width: 300px;
}
.main .imgBlock .imgBig {
    padding: 0 25px;
}
.main .textBlock {
    flex: 2 550px;
}
.main .textBlock p {
    text-align: justify;
}
footer {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
#section4  .blockShiro  {
    vertical-align: middle;

}
#section4 .blockShiro img {
    cursor: pointer;
}
#section4 *   {
      box-sizing: border-box;
    }
#section4 .slider {
        width: 50%;
        margin: 100px auto;
    }
#section4 .slick-slide {
      margin: 0px 20px;
    }
#section4 .slick-slide img {
      width: 100%;
    }
#section4 .slick-prev:before,
#section4 .slick-next:before {
      color: black;
    }
#section4 .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
#section4 .slick-active {
      opacity: .5;
    }
#section4 .slick-current {
      opacity: 1;
    }
#section4 .slick-next {
    right: 0;
}
#section4 .slick-prev {
    left: 0;
}