#filters
  .textfiled
    display: flex
    align-items: center
    flex-wrap: wrap
    width: 100%
    margin-bottom: 2rem
    .textfiled__label
      color: $secondary
      font-size: 14px
      font-weight: bold
      letter-spacing: 1px
      user-select: none
      cursor: default
    .textfiled__input
      position: relative
      width: 100%
      background-color: $white
      transition: .5s
      &:hover
        background-color: #e5e5e5
      &:not(:first-child)
        margin-top: .5rem
      input, select
        width: 100%
        height: 32px
        border: 1px solid $white
        padding: 0 1rem
        color: $secondary
        font-size: 14px
        letter-spacing: .65px
        box-sizing: border-box
        box-shadow: 0 0 2px #72777f
        transition: .5s
        cursor: pointer
        &:focus
          cursor: auto
          border-color: $warning
          outline-color: $warning
        &::placeholder
          color: #bdccd4
        &:hover
          border: 1px solid #e5e5e5