@font-face {
    font-family: 'Corpid E3 SCd';
    src: url('CorpidE3SCd-Light.eot');
    src: url('CorpidE3SCd-Light.eot?#iefix') format('embedded-opentype'),
        url('CorpidE3SCd-Light.woff2') format('woff2'),
        url('CorpidE3SCd-Light.woff') format('woff'),
        url('CorpidE3SCd-Light.ttf') format('truetype'),
        url('CorpidE3SCd-Light.svg#CorpidE3SCd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Corpid E3 SCd';
    src: url('CorpidE3SCd-Italic.eot');
    src: url('CorpidE3SCd-Italic.eot?#iefix') format('embedded-opentype'),
        url('CorpidE3SCd-Italic.woff2') format('woff2'),
        url('CorpidE3SCd-Italic.woff') format('woff'),
        url('CorpidE3SCd-Italic.ttf') format('truetype'),
        url('CorpidE3SCd-Italic.svg#CorpidE3SCd-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Corpid E3 SCd';
    src: url('CorpidE3SCd-Bold.eot');
    src: url('CorpidE3SCd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CorpidE3SCd-Bold.woff2') format('woff2'),
        url('CorpidE3SCd-Bold.woff') format('woff'),
        url('CorpidE3SCd-Bold.ttf') format('truetype'),
        url('CorpidE3SCd-Bold.svg#CorpidE3SCd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Corpid E3 SCd';
    src: url('CorpidE3SCd-Regular.eot');
    src: url('CorpidE3SCd-Regular.eot?#iefix') format('embedded-opentype'),
        url('CorpidE3SCd-Regular.woff2') format('woff2'),
        url('CorpidE3SCd-Regular.woff') format('woff'),
        url('CorpidE3SCd-Regular.ttf') format('truetype'),
        url('CorpidE3SCd-Regular.svg#CorpidE3SCd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

