* {
	padding: 0;
	margin: 0;
}

.wrapper {
	display: grid;
	/*max-width: 900px;
	margin: 0 auto;*/
	grid-template-areas: 	"header header header"
							"banner banner banner"
							"work work work"
							"team team team"
							"contact contact contact";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 80px 500px 920px repeat(2, 1fr);
	grid-row-gap: 1.5em;
}	
header {
	max-width: 900px;
    width: 100%;
    margin: 0 auto;

	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.logo {
		text-decoration: none;
	}
	.logo:hover span {
		color: #a7a7a7;
	}
	.logo span {
		color: #4c4c4c; 
		font-weight: bold;
		font-size: 2rem;
		padding: 0 25px;
		transition: 0.7s;
	}
	.menu {

	}
	.menu ul li {
		display: inline-flex;
		padding: 0 25px;
	}
	.menu ul li:last-child {
		/*padding-right: 0;*/
	}
	.menu ul li a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #a7a7a7; 
	}
	.menu ul li a:hover {
		color: #4c4c4c;
	}
.banner {
	grid-area: banner;
	background: url(../img/bg.jpg);
	display: grid;
	justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 0.5fr;
    position: relative;
}
	/*.imgBanner {
		position: absolute;
	}*/
	.titleBanner {
		text-align: center;
	}
	.titleBanner h2 {
		font-size: 1.5em;
		color: #303030;
		text-transform: uppercase;
		padding: 5px 0;
	}
	.titleBanner h2:nth-child(2) {
		padding-bottom: 25px;
	}
	.titleBanner span {
		display: block;
		color: #5a5a5a;
		font-style: italic;
		padding-bottom: 80px;
	}
	.btn {
	    display: flex;
	    position: relative;
	    align-items: center;
	    justify-content: center;
	}
	.btn a {
		width: 56px;
	    height: 56px;
	    text-decoration: none;
	    cursor: pointer;
	    background-color: white;
	    border-radius: 30px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin: 0 auto;
	    box-shadow: -1px 2px 15px rgba(0,0,0,0.5);
	    transition: 2s;
	}
	.btn a:nth-child(2) {
		position: absolute;
		transition: 2s;
	}
	.btn a:nth-child(2):hover{
		width: 80px;
		height: 80px;
		border-radius: 50px;
		background-color: rgba(255,255,255,0.5);
	}

	.btn a img {
		max-width: 100%;
	}

.work {
	max-width: 900px;
    width: 100%;
    margin: 0 auto;

	grid-area: work;
	grid-template-areas: 	"description description description"
							"workplace workplace workplace";
	display: grid;
	justify-content: center;
    align-items: center;
/*    grid-template-rows: 1fr 1fr 0.05fr;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2em;
}
	.work .description {
		grid-area: description;
		display: grid;
		justify-content: center;
    	align-items: center;
	}
	.work .description h2 {
			font-size: 1.5em;
			color: #303030;
			text-transform: uppercase;
			padding: 30px 0 15px;
			text-align: center;
		}
	.work .description .underline {
			display: inline-grid;
		    width: 250px;
		    margin: 0 auto;
		    padding: 0;
		    border-bottom: 3px solid black;
		}
	.work .description span {
			display: block;
		    color: #5a5a5a;
		    font-style: italic;
		    padding-top: 30px;
		    max-width: 500px;
		    text-align: center;
		}
	.work .workplace {
		grid-area: workplace;
		display: grid;
		text-align: center;
    	grid-template-rows: 1fr 1fr 1fr;
   	 	grid-template-columns: 1fr 1fr 1fr;
   	 	grid-gap: 2em;
   	 	padding: 20px;
	}
		.workplace .item {
			max-width: 260px;
			cursor: pointer;
			transition: 0.7s;
		}
		.workplace .item:hover {
			opacity: 0.65;
		}
		.workplace .item img {
			max-width: 260px;
			width: 100%;
		}
		

.team {
	max-width: 900px;
    width: 100%;
    margin: 0 auto;

	grid-area: team;
	background-color: #f3f3f3;
}
	.team .description {
		grid-area: description;
		display: grid;
		justify-content: center;
    	align-items: center;
	}
	.team .description h2 {
			font-size: 1.5em;
			color: #303030;
			text-transform: uppercase;
			padding: 30px 0 15px;
			text-align: center;
		}
	.team .description .underline {
			display: inline-grid;
		    width: 250px;
		    margin: 0 auto;
		    padding: 0;
		    border-bottom: 3px solid black;
		}
	.team .description span {
			display: block;
		    color: #5a5a5a;
		    font-style: italic;
		    padding-top: 30px;
		    max-width: 470px;
		    text-align: center;
		}
.contact {
	max-width: 900px;
    width: 100%;
    margin: 0 auto;

	grid-area: contact;
}
	.contact .description {
		grid-area: description;
		display: grid;
		justify-content: center;
    	align-items: center;
	}
	.contact .description h2 {
			font-size: 1.5em;
			color: #303030;
			text-transform: uppercase;
			padding: 5px 0 15px;
			text-align: center;
		}
	.contact .description .underline {
			display: inline-grid;
		    width: 250px;
		    margin: 0 auto;
		    padding: 0;
		    border-bottom: 3px solid black;
		}
	.contact .description span {
			display: block;
		    color: #5a5a5a;
		    font-style: italic;
		    padding-top: 30px;
		    max-width: 500px;
		    text-align: center;
		}
@media screen and (max-width: 600px) {
	.wrapper {
		grid-template-rows: 80px 500px auto repeat(2, 1fr);
	}	
	.work .workplace {
    	grid-template-rows: 1fr;
   	 	grid-template-columns: 1fr;
   	 	margin: 0 auto;
	}
}